* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px; /* 상단 여백 */
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  background: #fff;
}

/* 메인 콘텐츠 */
.main {
  width: 900px;
  margin: 0 auto;
}

/* 이미지 */
.work-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 70px;
}

/* 사이드 네비 */
.side-nav {
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.nav a {
  font-family: 'Playwrite New Zealand', Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0.02em;
}


.side-nav a:hover {
  transform: translateX(8px);
  font-size: 26px;
}
