
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body body {
  font-family: 'Poppins', Arial, sans-serif;
  background: #fff;
  color: #111;
}


.side-nav {
  position: fixed;
  left: 40px;
  top: 120;
  transform: none;
  width: 220px;
}

.side-nav ul {
  list-style: none;
}

.side-nav li {
  margin-bottom: 14px;
}

.side-nav a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  transition: all 0.3s ease;
}

.side-nav a:hover {
  font-size: 24px;
  letter-spacing: 1px;
}

.contact {
  margin-top: 40px;
}

.contact a {
  font-size: 14px;
  text-decoration: none;
  color: #555;
}

.content {
  margin-left: 300px;
  padding: 60 80px;
}

.section {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
}

.section img {
  width: 900px;
  max-width: 100%;
  height: auto;
}

.contact-section {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
